* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
}
.clear {
  clear: both;
}
.navegacion{
    background-color: white;       /* fondo blanco */
    padding: 10px 0;               /* espacio arriba y abajo */
    text-align: center;            /* centra los elementos */
}
.navegacion ul {
    list-style: none;              /* quita viñetas */
    margin: 0;
    padding: 0;
}

.navegacion li {
    display: inline-block;         /* coloca los elementos en línea */
    margin: 0 20px;                /* espacio entre enlaces */
}
.navegacion a{
    font-size: 26px
}
.Migas-de-pan{
    width: 600px;
    height: 50px;
    font-size: 20px;
    color: #09d598;
  }
  a, a:visited, a:hover, a:active {
  color: #1e3a8a;   /* Tu color personalizado */
  text-decoration: none; /* Quita el subrayado si quieres */
}
.list_ordenada{
    list-style: disc;
    padding-left: 40px;
}
h1,h2{
    text-align: center;
    color: #1e3a8a;
    
    
}
p,li{
   font-size: 20px;
   padding: 10px;
}
img{
    display: block;
    margin: 0 auto;
    height: 400px;
    width: 500px;
}
