h1{
    color: aqua;
    text-align: center;
    font-size: 50px;
    text-decoration: underline 2px solid rgb(9,213,152, green, blue);
    border: 1px solid black;
}
ul{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 50px;
}
li{
    display: grid;
    justify-content: center;
    align-items: center;
}
.navegacion{
    width: 200px;
    background-color: black;
    border: 1px solid ;
    padding: 10px;
}

.Portada{
text-align: center;
margin-left: 9px;
}
#Sudaderas{
    text-align: center;
}
#Pantalones{
    text-align: center;
}
#Accesorios{
    text-align: center;
}