  *{
    font-family: 'Times New Roman', Times, serif;
  }
  h1{
color: #1e3a8a;              
    text-align: center;
    font-size: 55px;             /* un poco más grande */
    font-weight: bold;           /* más fuerza en el título */
    text-transform: uppercase;   /* todo en mayúsculas */
    margin: 20px 0;
    
    /* Subrayado decorativo */
    text-decoration: underline;
    text-decoration-color: #09d598; /* subrayado verde aqua */
    text-decoration-thickness: 3px;

    /* Borde y sombra */
    border: none;                /* quitamos el borde negro clásico */
    padding-bottom: 10px;
    border-bottom: 3px solid #000; /* línea inferior elegante */
  }  
ul{
    font-size: 0%;
    padding: 0%;
}
li{
    color: green;
    padding: 10px;
    display: inline-block;
    text-align: center;
    font-size: 15px;
}
.navegacion{
    background-color: white;       /* fondo blanco */
    padding: 10px 0;               /* espacio arriba y abajo */
    text-align: center;            /* centra los elementos */
}
.navegacion ul {
    list-style: none;              /* quita viñetas */
    margin: 0;
    padding: 0;
}

.navegacion li {
    display: inline-block;         /* coloca los elementos en línea */
    margin: 0 20px;                /* espacio entre enlaces */
}
a, a:visited, a:hover, a:active {
  color: #1e3a8a;   /* Tu color personalizado */
  text-decoration: none; /* Quita el subrayado si quieres */
}
.navegacion a{
    font-size: 26px
}

.Portada{
width: 33%;
display: inline-block;
box-sizing: border-box;
font-size: 14px;    
vertical-align: top;
border: 2px solid black;
}
h2{
    text-align: center;
}
.Productos article {
  display: inline-block;   /* Se comporta en línea pero mantiene dimensiones */
  width: 450px;            /* Ajusta según el tamaño que quieras */
  margin: 2px;            /* Espacio entre productos */
  vertical-align: top;     /* Para que se alineen por la parte superior */
}
article img{
    text-align: left;
    width: 500px;
    height: 500px; 
    object-fit: cover;
    display: inline;
}
div{
    display: inline;
}
